<ul class="contact-list">
  {% if site.email %}
    <li>
      <a href="mailto:{{ site.email }}">
        <span class="icon icon--email">{% include icon-email.svg %}</span>
        <span class="label">{{ site.data.theme.t.email | default: 'Email' }}</span>
      </a>
    </li>
  {% endif %}

	{% if site.codeberg_username %}
    <li>{% include icon-codeberg.html username=site.codeberg_username project=site.codeberg_project label='Codeberg' %}</li>
  {% endif %}

  {% if site.github_username %}
    <li>{% include icon-github.html username=site.github_username label='GitHub' %}</li>
  {% endif %}

  {% if site.mastodon_username %}
    <li>{% include icon-mastodon.html username=site.mastodon_username instance=site.mastodon_instance label='Mastodon' %}</li>
  {% endif %}

  {% if site.twitter_username %}
    <li>{% include icon-twitter.html username=site.twitter_username label='Twitter' %}</li>
  {% endif %}

  <li>
    {% if site.plugins contains 'jekyll-feed' or site.gems contains 'jekyll-feed' %}
      <a href="{{ site.feed.path | default: 'feed.xml' | relative_url }}" title="Atom Feed">
        <span class="icon icon--rss">{% include icon-rss.svg %}</span>
        <span class="label">{{ site.data.theme.t.subscribe | default: 'Subscribe' }}</span>
      </a>
    {% endif %}
  </li>
</ul>
