<header class="intro-frontpage">
  {% if page.image %}
    {% assign intro_image = page.image.path | default: page.image | relative_url | escape %}
    <div class="intro-image">
      <img src="{{ intro_image }}" alt="{{ page.title }}">
    </div>
  {% endif %}
	<div class="inner">
		<div class="intro-image banner">
			<div class="banner-textbox">
				<h1 id="page-title" class="intro-title">{{ page.alt_title | default: page.title | default: site.title | markdownify }}</h1>
				{% if page.sub_title %}
				 <p class="intro-subtitle">{{ page.sub_title | markdownify | strip_html }}</p>
				{% endif %}
				{% if page.introduction %}
					<div class="intro-more">
						{{ page.introduction | markdownify }}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</header>
