<a href="https://codeberg.org/{{ include.username }}{% if include.project %}/{{ include.project }}{% endif %}">
  <span class="icon icon--codeberg">{% include icon-codeberg.svg %}</span>
  <span class="label">{{ include.label | default: include.username }}</span>
</a>
