<a href="https://{{ include.instance }}/users/{{ include.username }}">
  <span class="icon icon--mastodon">{% include icon-mastodon.svg %}</span>
  <span class="label">{{ include.label | default: include.username }}</span>
</a>
