{% if page.maps %}
<link rel="stylesheet" href="{{ site.baseurl }}/assets/leaflet/leaflet.css" />
	<script src="{{ site.baseurl }}/assets/leaflet/leaflet.js"></script>
	{% if "eu".in(page.maps) %}
	<script src="{{ site.baseurl }}/assets/javascripts/dataretention_eu.js"></script>
		<script src="{{ site.baseurl }}/assets/javascripts/dataret-map-eu.js"></script >
	{% endif %}
	{% if "be1".in(page.maps) %}
	<script src="{{ site.baseurl }}/assets/javascripts/dataretention_be1.js"></script>
		<script src="{{ site.baseurl }}/assets/javascripts/dataret-map-be1.js"></script >
	{% endif %}
{% endif %}
