<nav id="primary-nav" class="site-nav" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">
	<ul id="menu-main-navigation" class="menu">
		<!-- Home link -->
		<li class="menu-item">
			<a id="home-link" href="{{ '/' | relative_url }}" itemprop="url">
				<span itemprop="name">{{ site.data.theme.t.home | default: 'Home' }}</span>
			</a>
		</li>

		<!-- site.pages links -->
		{% assign default_paths = site.pages | map: "path" %}
		{% assign page_paths = site.data.theme.navigation_pages | default: default_paths %}

		{% for path in page_paths %}
			{% assign my_page = site.pages | where: "path", path | first %}
			{% if my_page.title and my_page.area == nil %}
				<li class="menu-item">
					<a href="{{ my_page.url | relative_url }}" itemprop="url">
						<span itemprop="name">{{ my_page.title }}</span>
					</a>
				</li>
			{% endif %}
		{% endfor %}

		<!-- site.areas links -->
		<li class="menu-item">
			{{ site.data.theme.t.areas | default: "Areas" }}
			<ul id="menu-areas" class="menu">
				{% assign area_paths = site.areas | map: "path" %}
				{% for path in area_paths %}
					{% assign my_page = site.areas | where: "path", path | first %}
						<li class="menu-item">
							<a href="{{ my_page.url | relative_url }}" itemprop="url">
								<span itemprop="name">{{ my_page.title }}</span>
							</a>
						</li>
				{% endfor %}

			</ul>
		</li>
	</ul>
</nav>
