---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Theme skin
@import "basically-basic/themes/{{ site.data.theme.skin | default: 'default' }}";

/* Colors */

/* These are the default colors of the standard skin.
   Here for reference...
 */
// $base-color: #393e46 !default;
// $text-color: #181c22 !default;
// $accent-color: #00838a !default;
// $background-color: #fff !default;
// $code-background-color: tint($base-color, 95%) !default;
// $border-color: tint($base-color, 80%) !default;
// overlay-color: $base-color !default;

/* Base font family */
$base-font-family: "Fira Sans", sans-serif;
/* Other font families */
$headline-font-family: $base-font-family;
$monospace-font-family: Menlo, Consolas, Monaco, "Courier New", Courier,
  monospace;

/* Our own settings */
$base-font-family: "Fira Sans", "Open Sans", sans-serif;
$headline-font-family: "Roboto slab", "Courier New", Courier;
$accent-color: #039;
$banner-bg-color: $accent-color;
$banner-fg-color: #fc0;


@import "basically-basic";

.more-link {
    color: $text-color;
}
.intro-title {
    color: $accent-color;
}
.site-title a {
    color: $accent-color;
    text-decoration: underline;
}

.sidebar #menu-areas {
    padding-left: 0.2em;
    margin-bottom: 0em;
    font-size: 66%;
    padding-bottom: 0rem;

    &::after {
        display: none;
    }
}


.banner .intro-title,
.banner {
	background-color: $accent-color;
	color: $banner-fg-color;

	.intro-more {
		font-size: 80%;
    }
}

.entry-title a,
a {
    text-decoration: underline;
}

.intro-frontpage {
    margin: 1rem 0;
    padding-top: 2rem;
    padding-bottom: 0rem;

    @include breakpoint($small) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @include breakpoint($medium) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @include breakpoint($large) {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    @include breakpoint($xlarge) {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.intro-subtitle {
	font-style: normal;
    font-variant: small-caps;
}

.banner-textbox {
    padding: 1.5rem;

    @include breakpoint($medium) {
        padding: 2rem;
    	width: 75%;
    }
}

.blink {
    animation-name: animation_blink;
    animation-timing-function: linear;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
	color: #f22;
	font-family: "Open Sans", Courier;
}

@keyframes animation_blink {
    0% { opacity: 0.1; }
	20% { opacity: 1; }
    95% { opacity: 1; }
    100% { opacity: 0.1; }
}

/* map related styles */

div.map-eu1X.slim {
    min-height: 20vh;
}

div.map-be1X {
    min-height: 80vh;
}
div.map-be1X.slim {
    min-height: 40vh;
}

.mapinfo b {
    padding: 0 0.3rem 0 0.2rem;
}

b.val0 {
    color: #000;
    background-color: #4f4;
}
b.val1 {
    color: #000;
    background-color: #9f0;
}
b.val2 {
    color: #000;
    background-color: #f90;
}
b.val3 {
    color: #f7f7f7;
    background-color: #ff0000;
}

.be1 b.val0 {
    background-color: #dddd00;
}
.be1 b.val1 {
    background-color: #ff4400;
}
.be1 b.val2 {
    background-color: #ee1100;
}
.be1 b.val3 {
    color: #f7f7f7;
    background-color: #aa0000ff;
}

.map {
    min-height: 80vh;
}
.map.slim {
    min-height: 50vh;
}

#map {
    width: 800px; height: 500px;
}
.mapinfo {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.mapinfo h4 {
    margin: 0 0 5px; color: #777;
}



/* icon-related stuff */
.icon--mastodon {
    fill: #2b90d9;
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src:
		local('Open Sans'),
		local('OpenSans'),
		/* from https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRfY6323mHUZFJMgTvxaG2iE.eot */
		url('../webfonts/OpenSans/Open_Sans_400.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRT8E0i7KZn-EPnyo3HZu7kw.woff */
		url('../webfonts/OpenSans/Open_Sans_400.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRVtXRa8TVwTICgirnJhmVJw.woff2 */
		url('../webfonts/OpenSans/Open_Sans_400.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=u-WUoqrET9fUeobQW7jkRZbd9NUM7myrQQz30yPaGQ4&skey=62c1cbfccc78b4b2&v=v13#OpenSans */
		url('../webfonts/OpenSans/Open_Sans_400.svg#OpenSans') format('svg');
	}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src:
		local('Open Sans Semibold'),
		local('OpenSans-Semibold'),
		/* from https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSqlSqKUsDpiXlwfj-ZM2w_A.eot */
		url('../webfonts/OpenSans/Open_Sans_600.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSha1RVmPjeKy21_GQJaLlJI.woff */
		url('../webfonts/OpenSans/Open_Sans_600.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNShUOjZSKWg4xBWp_C_qQx0o.woff2 */
		url('../webfonts/OpenSans/Open_Sans_600.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=MTP_ySUJH_bn48VBG8sNSt1LKoZ82bBu2f46DhHcs3c&skey=a162967ffaa5aa08&v=v13#OpenSans */
		url('../webfonts/OpenSans/Open_Sans_600.svg#OpenSans') format('svg');
	}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src:
		local('Open Sans Italic'),
		local('OpenSans-Italic'),
		/* from https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBuZiE7IA0Up7-VwGqa0iGVY.eot */
		url('../webfonts/OpenSans/Open_Sans_400italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBtIh4imgI8P11RFo6YPCPC0.woff */
		url('../webfonts/OpenSans/Open_Sans_400italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBqg5eI2G47JWe0-AuFtD150.woff2 */
		url('../webfonts/OpenSans/Open_Sans_400italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=xjAJXh38I15wypJXxuGMBpS_ZaL0arjVp2tkn2-HJhM&skey=743457fe2cc29280&v=v13#OpenSans */
		url('../webfonts/OpenSans/Open_Sans_400italic.svg#OpenSans') format('svg');
	}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 600;
	src:
		local('Open Sans Semibold Italic'),
		local('OpenSans-SemiboldItalic'),
		/* from https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxtFmTTGyK1hC3RAheLKJzdA.eot */
		url('../webfonts/OpenSans/Open_Sans_600italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxmWeb5PoA5ztb49yLyUzH1A.woff */
		url('../webfonts/OpenSans/Open_Sans_600italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxt5wBDjbAC_0C3a56xIGvxo.woff2 */
		url('../webfonts/OpenSans/Open_Sans_600italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=PRmiXeptR36kaC0GEAetxu7S6l9nD4m0N_8v51jtdL4&skey=5addd15a3a8d014a&v=v13#OpenSans */
		url('../webfonts/OpenSans/Open_Sans_600italic.svg#OpenSans') format('svg');
	}

@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	src:
		local('Roboto Slab Regular'),
		local('RobotoSlab-Regular'),
		/* from https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZuZiE7IA0Up7-VwGqa0iGVY.eot */
		url('../webfonts/RobotoSlab/Roboto_Slab_400.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZtIh4imgI8P11RFo6YPCPC0.woff */
		url('../webfonts/RobotoSlab/Roboto_Slab_400.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zqg5eI2G47JWe0-AuFtD150.woff2 */
		url('../webfonts/RobotoSlab/Roboto_Slab_400.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=y7lebkjgREBJK96VQi37ZpS_ZaL0arjVp2tkn2-HJhM&skey=a9ad6a4717e923f0&v=v6#RobotoSlab */
		url('../webfonts/RobotoSlab/Roboto_Slab_400.svg#RobotoSlab') format('svg');
	}

@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	src:
		local('Roboto Slab Bold'),
		local('RobotoSlab-Bold'),
		/* from https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJSLfhkkOXu3C-OFz_KOVjmA.eot */
		url('../webfonts/RobotoSlab/Roboto_Slab_700.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJYUt79146ZFaIJxILcpzmhI.woff */
		url('../webfonts/RobotoSlab/Roboto_Slab_700.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJasA81DAeuqoeYxDcSOJPMY.woff2 */
		url('../webfonts/RobotoSlab/Roboto_Slab_700.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=dazS1PrQQuCxC3iOAJFEJbUyes8Cko1kW3hb-t-_wy8&skey=481cfd96f5185089&v=v6#RobotoSlab */
		url('../webfonts/RobotoSlab/Roboto_Slab_700.svg#RobotoSlab') format('svg');
	}


/* CSS and download files provided by awesome http://google-webfonts-helper.herokuapp.com */
/* fira-sans-regular - latin-ext_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../webfonts/FiraSans/fira-sans-v16-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../webfonts/FiraSans/fira-sans-v16-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/FiraSans/fira-sans-v16-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/FiraSans/fira-sans-v16-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/FiraSans/fira-sans-v16-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/FiraSans/fira-sans-v16-latin-ext_latin-regular.svg#FiraSans') format('svg'); /* Legacy iOS */
}

/* fira-sans-italic - latin-ext_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../webfonts/FiraSans/fira-sans-v16-latin-ext_latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../webfonts/FiraSans/fira-sans-v16-latin-ext_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/FiraSans/fira-sans-v16-latin-ext_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/FiraSans/fira-sans-v16-latin-ext_latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/FiraSans/fira-sans-v16-latin-ext_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/FiraSans/fira-sans-v16-latin-ext_latin-italic.svg#FiraSans') format('svg'); /* Legacy iOS */
}

/* fira-sans-600 - latin-ext_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../webfonts/FiraSans/fira-sans-v16-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../webfonts/FiraSans/fira-sans-v16-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/FiraSans/fira-sans-v16-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/FiraSans/fira-sans-v16-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/FiraSans/fira-sans-v16-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/FiraSans/fira-sans-v16-latin-ext_latin-600.svg#FiraSans') format('svg'); /* Legacy iOS */
}

/* fira-sans-600italic - latin-ext_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 600;
  src: url('../webfonts/FiraSans/fira-sans-v16-latin-ext_latin-600italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../webfonts/FiraSans/fira-sans-v16-latin-ext_latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/FiraSans/fira-sans-v16-latin-ext_latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/FiraSans/fira-sans-v16-latin-ext_latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/FiraSans/fira-sans-v16-latin-ext_latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/FiraSans/fira-sans-v16-latin-ext_latin-600italic.svg#FiraSans') format('svg'); /* Legacy iOS */
}

